<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">

  <title>Comment Toxicity</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='css/images/favicon.ico') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
</head>

<body onload="myFunction()">

<div class="wrapper fadeInDown">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href=>Youtube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/text">Text</a>
        </li>
      </ul>
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2>Is your Comment Toxic?</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    <input id='text' type="text" name="text" placeholder="Enter YouTube link" required="required" size="25" />
    <input type="submit" class="fadeIn fourth" value="Predict">
    </form>


    {% if title %}
    <a href="{{user_link}}">
    <img class="img" src={{thumbnail}}  href= style="width:600px;"><br><br></a>
    <h3>Video Title: </h3>
      <h3><strong>{{title}}</strong></h3><br>
    
    <div class="chart">
    <canvas id="doughnutChart" ></canvas>
    </div>
    
    <script>
      var ctx = document.getElementById("doughnutChart").getContext("2d");
      var doughnutChart = new Chart(ctx, {
        type: 'doughnut',
        options: {
            plugins: {
              title: {
                  display: true,
                  text: 'Breakdown of Comments',
                  color: 'rgba (0, 0, 0)',
                  font: {
                  size: 20,
                  family: "Poppins",
            }
            }
        }
    },
        data:{
          labels:['Toxic',
          'Severe Toxic', 
          'Obscene', 
          'Insult',
          'Threat',
          'Identity Hate',
          'Non Toxic'
          ],
          datasets: [{
            label: 'Breakdown of Comments',
            data: {{[pred_tox_num,
            pred_sev_num,
            pred_obs_num,
            pred_ins_num,
            pred_thr_num,
            pred_ide_num,
            pred_non_num
          ]}},
          backgroundColor: [
          'rgb(194, 222, 209)',
          'rgb(236, 229, 199)',
          'rgb(205, 194, 174)',
          'rgb(53, 66, 89)',
          'rgb(7, 34, 39)',
          'rgb(53, 133, 139)',
          'rgb(79, 189, 186)'
          ],
    
          }]


        }
      })
    </script>

  

  <div class="comments-container">
    <h2> Non-Toxic Comments</h2>
  <div class="row">
    {% for comment in comments %}
    <div class="col-md-6 p-2">
        <div class="nontoxic card border-dark mb-3">
          <div class="card-block">
            <p class="card-text">{{comment}}</p>
          </div>
          </div>
        </div>
        {% endfor %}
          {% endif %} 
       
           
        </div>
        
  </div>
</div>











</div>
    



    </div>
    </div>

</div>

</body>
</html>