<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>

  <meta charset="UTF-8">

  <title>Comment Toxicity</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
</head>



<body onload="myFunction()">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1>Is your Comment Toxic?</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    <input id='text' type="text" name="text" placeholder="Enter your text" required="required" size="25" style="font-size:25px;"/>
    <input type="submit" class="fadeIn fourth" value="Predict">
    </form>

    <div class="chart">
    <canvas id="doughnutChart" width="200" height="100"></canvas>
    </div>
    <script>
      var ctx = document.getElementById("doughnutChart").getContext("2d");
      var doughnutChart = new Chart(ctx, {
        type: 'doughnut',
        options: {
            plugins: {
              title: {
                  display: true,
                  text: 'Breakdown of Comments',
                  color: 'rgba (0, 0, 0)',
                  font: {
                  size: 20,
                  family: "Poppins",
            }
            }
        }
    },
        data:{
          labels:['Toxic',
          'Severe Toxic', 
          'Obscene', 
          'Insult',
          'Threat',
          'Identity Hate',
          'Non Toxic'
          ],
          datasets: [{
            label: 'Breakdown of Comments',
            data: {{[pred_tox_num,
            pred_sev_num,
            pred_obs_num,
            pred_ins_num,
            pred_thr_num,
            pred_ide_num,
            pred_non_num
          ]}},
          backgroundColor: [
          'rgb(194, 222, 209)',
          'rgb(236, 229, 199)',
          'rgb(205, 194, 174)',
          'rgb(53, 66, 89)',
          'rgb(7, 34, 39)',
          'rgb(53, 133, 139)',
          'rgb(79, 189, 186)'
          ],
          
          }]


        }
      })
    </script>



    </div>
</div>

</body>
</html>